---
import LightRays from "./externalComponents/LightRays"
import BlobCursor from "./externalComponents/BlobCursor"
---


<div id="container" class="w-full h-full">
	<main class="w-full h-full relative">
		<BlobCursor
		  blobType="circle"
		  fillColor="#00ffff"
		  trailCount={3}
		  sizes={[45,45,45]}
		  innerSizes={[20,20,20]}
		  innerColor="rgba(255,255,255,0.95)"
		  opacities={[0.35,0.6,0.6]}
  		  shadowColor="rgba(0, 255, 255, 0.9)"
          shadowBlur={30}
  		  shadowOffsetX={0}
  		  shadowOffsetY={0}
		  filterStdDeviation={20}
		  useFilter={true}
		  fastDuration={0.1}
		  slowDuration={0.2}
		  zIndex={100}
		  client:load
		/>
		<LightRays
  		  raysOrigin="top-center"
  		  raysColor="#00ffff"
  		  raysSpeed={1}
  		  lightSpread={1}
  		  rayLength={3}
  		  pulsating={false}
  		  fadeDistance={1}
  		  saturation={2}
  		  followMouse={false}
  		  mouseInfluence={0.1}
  		  noiseAmount={0}
  		  distortion={0}
		  client:load
  		/>
	</main>
</div>

