---
import BlobCursor from "@/components/externalComponents/BlobCursor";
import Header from "@/components/Header/Header";
import Loader from "@/components/Loader";
import Redes from "@/components/Redes/Redes";
---

<!doctype html>
<html lang="en" class="min-h-full min-w-full m-0 p-0 h-full w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="min-h-full min-w-full">
		<div class="hidden lg:block">
			<BlobCursor
			  blobType="circle"
			  fillColor="#e0bef8"
			  trailCount={1}
			  sizes={[45]}
			  innerSizes={[0,0,0]}
			  innerColor="rgba(224, 190, 248, 0.3)"
			  opacities={[1]}
			  shadowColor="rgba(224, 190, 248, 0.9)"
			  shadowBlur={40}
			  shadowOffsetX={0}
			  shadowOffsetY={0}
			  filterStdDeviation={0}
			  useFilter={false}
			  fastDuration={0.1}
			  slowDuration={0.4}
			  zIndex={900}
			  client:load
			/>
		</div>
<!-- 		<Loader client:load /> -->    	
		<Redes client:load />
		<slot />
	</body>
</html>
