---
import { TechGrid } from "@/components/TechStack/TechGrid"
---

<section id="techStack" class="w-full z-1000 h-screen"
  style="background: linear-gradient(to bottom, #0f0111 0%, #0f0111 35%);"
>
  <TechGrid/>
</section>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const techStack = document.getElementById("techStack");
    
    if (techStack) {
      techStack.addEventListener("mouseenter", () => 
        window.dispatchEvent(new CustomEvent("blob-disapear"))
      );
      techStack.addEventListener("mouseleave", () => 
        window.dispatchEvent(new CustomEvent("blob-appear"))
      );
    }
  });
</script>
