---
import { TechGrid } from "@/components/TechStack/TechGrid"
---

<section id="techStack" class="w-full z-1000 h-screen"
  style="background: linear-gradient(to bottom, #0f0111 0%, #0f0111 35%);"
>
  <TechGrid/>
</section>
